//Colors
//dark mode colors
//Primary Colors
@primary-bg-color-dark: #121212; //charcoal black
@secondary-bg-color-dark: #1e1e1e; //dark gray
@tertiary-bg-color-dark: #4b4b4b;

//Text and accent colors
@primary-text-color-dark: #ffffff; //pure white
@secondary-text-color-dark: #aaaaaa; //medium-gray
@highlight-text-color-dark: #d1d1d1; //light-gray

//light mode colors
//primary colors:
@primary-bg-color-light: #ffffff;
@secondary-bg-color-light: #f0f0f0;
@tertiary-bg-color-light: #c0c0c0;
//text and accent colors
@primary-text-color-light: #1e1e1e;
@secondary-text-color-light: #6d6d6d;
@highlight-text-color-light: #e0efff; //sky blue

//universal colors
@accent-text-color: #ffca28; //sunshine yellow
@focus-border-color: #007aff;
@box-shadow-color: rgba(0, 122, 255, 0.25);

//Fonts
@font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
@font-size-xlarge: 48px;
@font-size-large: 32px;
@font-weight-light: 200;
@font-size-title: 22px;
@font-weight-title: 300;
@font-size-primary: 18px;
@font-weight-primary: 500;
@font-size-secondary: 16px;
@font-weight-secondary: bold;
@font-size-small: 14px;
@font-size-list-item: 17px;
@font-weight-regular: 400;

//breakpoints
@screen-m-min:768px; //medium
@screen-l-min:992px; //large



//general style
*{
  background-color: @primary-bg-color-dark;
  color: @primary-text-color-dark;
  font-family: @font-family;
}
.mb-0{
  margin-bottom: 0;
}
.mt-1, .mb-1{
  margin-top: 0.5rem;
}
.m-0{
  margin-top: 0;
  margin-bottom: 0;
}


//everything text related
.text-bold{
  font-weight: @font-weight-secondary;
}
.text-secondary{
  color: @secondary-text-color-dark;
}
.text-primary{
  font-size: @font-size-primary;
  font-weight: @font-weight-primary;
}
.text-title{
  font-size: @font-size-title;
  font-weight: @font-weight-title;
}
.text-m{
  font-size: @font-size-secondary;
}
.text-xl{
  font-size: @font-size-xlarge;
}
.text-l{
  font-size: @font-size-large;
  font-weight: @font-weight-primary;
}
.text-s{
  font-size: @font-size-small;
  font-weight: @font-weight-regular;
}

h1{
  font-size: @font-size-title;
  color: @primary-text-color-dark;
}


//containers and page elements
.header{
  position: sticky;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-bottom: 1px solid @primary-text-color-dark;
  padding-bottom: 1rem;
}

.container{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0.5rem;
  margin: 1rem;
  border: 1px solid @primary-text-color-dark;
  border-radius: 1rem;
  box-sizing: border-box;
}
.summary{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0.5rem;
  width: calc(100% - 1rem);
  border-bottom: 1px solid @primary-text-color-dark;

  h2{
    margin-bottom: 0.5rem;
  }

  .label{
    margin-top: 0;
    padding-top: 0;
  }

}



.primary-details-grid{
  display: grid;
  grid-template-columns: 1fr;
  align-items: center;
  gap: 1rem;

  .detail-grid-item{
    padding: 0.5rem;
    display: flex;
    flex-direction: column;
    text-align: center;
  }
}


//5-day forecast cards
.card{
  display: flex;
  justify-content: space-between;
  background-color: @secondary-bg-color-dark;
  box-sizing: border-box;
  margin: 0.25rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  border-radius: 1rem;
  width: 100%;

  .card-left{
    display: flex;
    align-items: center;
    background-color: inherit;


    div{
      margin: 0.5rem;
      background-color: inherit;

      p{
        margin: 0.5rem;
        background-color: inherit;

      }
    }
  }
  .card-right{
    display: flex;
    align-items: center;
    background-color: inherit;

    p{
      margin: 0.5rem;
      background-color: inherit;
    }
  }

}

.card:hover{
  background-color: @tertiary-bg-color-dark;
  cursor: pointer;
}


//controls

.controls {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

//select element
.select-wrapper{
  position: relative;
  width: 250px;

  select {
    appearance: none;
    -webkit-appearance: none;


    width: 100%;
    font-size: 16px;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
    padding: 10px 40px 10px 15px; /* Add right padding for the arrow */
    background-color: @tertiary-bg-color-dark;
    border: 1px solid @secondary-bg-color-dark;
    border-radius: 8px;
    color: @primary-text-color-dark;
    cursor: pointer;
  }

  select:focus{
    outline: none;
    border-color: @focus-border-color; /* A common macOS highlight color */
    box-shadow: 0 0 0 3px @box-shadow-color;
  }

  label{
    margin-top: 0;
    margin-bottom: 0.5rem;
    margin-left: 3px;
  }

}

.select-wrapper::after{
  content: '▼'; /* You can use a character or a background image */
  font-size: 14px;
  color: #555;

  position: absolute;
  top: 50%;
  right: 15px;
  transform: translateY(-50%);

  pointer-events: none; /* IMPORTANT: This lets clicks pass through to the select element */
}


//Medium screen styles
@media (min-width: @screen-m-min) {
  .primary-details-grid{
    grid-template-columns: 1fr 1fr;
    justify-content: space-evenly;
    align-content: space-evenly;
    width: 100%;
  }

  .controls{
    flex-direction: row;
    gap: 1rem;
  }
}

